modules = ["python-3.11", "nodejs-20"]
run = "bash run.sh"

[nix]
channel = "stable-23_11"
packages = [
  "chromium",
  "chromiumdriver",
  "glib",
  "nss",
  "nspr",
  "atk",
  "cups",
  "libdrm",
  "libxkbcommon",
  "xorg.libXcomposite",
  "xorg.libXdamage",
  "xorg.libXfixes",
  "xorg.libXrandr",
  "xorg.libX11",
  "xorg.libXcb",
  "xorg.libXext",
  "mesa",
  "alsa-lib",
  "pango",
  "cairo",
  "expat",
  "libuuid",
]

[deployment]
run = ["bash", "run.sh"]

[[ports]]
localPort = 8000
externalPort = 80
